<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        
        <title>Tiki AV Extravaganza</title>
        <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="/static/semantic/dist/semantic.min.js"></script>
        <script src='https://www.gstatic.com/firebasejs/3.0.5/firebase.js'></script>
        <script type="text/javascript">
            $(document).ready(() => {
                // firebase init
                var config = {
                    apiKey: 'AIzaSyB7XAbfFB96EceIjTDoNixssz7iXV5N18s',
                    authDomain: 'projectId.firebaseapp.com',
                    databaseURL: 'https://tikiav-cfcbf.firebaseio.com/',
                };
                firebase.initializeApp(config);
            });
        </script>
            
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div id="firebaseui-auth-container"></div>
        {% block body %}
        {% endblock %}
    </body>
</html>
